* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container1 {
    background-color: #0a0622;
    padding-left: .6rem;
    width: 50%;
    height: 71.5vh;
    color: white;
    overflow-y: auto;
  
    .box1 {
      margin: 2rem 2rem 1rem 2rem;
  
      .first_section,
      .second_section {
        height: 25vh;
        margin-bottom: 2rem;
        border-bottom-color: white;
        border-bottom-width: 1.2px;
      }
  
      .head {
        font-weight: 500;
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
      }
  
      .content_type {
        font-size: 1rem;
  
        span {
          margin-left: 1.5rem;
        }
      }
  
      .auth {
        display: flex;
        margin-top: 1.2rem;
  
        .auth-text {
          margin-right: 1.4rem;
        }
  
        .token {
          position: relative;
          color: black;
  
          .bearer_text {
            position: absolute;
            left: .5rem;
            color: white;
          }
  
          .bearer_input {
            padding-left: 3.7rem;
            padding-right: .2rem;
            outline: none;
            background-color: #2d2d35;
            color: white;
            border-radius: 8px;
          }
        }
      }
  
      .request {
        font-size: 1.2rem;
        font-weight: 500;
      }
  
      .enviroment {
        margin: 1.2rem 0;
  
        .enviromentvalue {
          margin-right: 2rem;
          font-size: 1rem;
          font-weight: 450;
        }
      }
  
      #Environment {
        background-color: #2d2d35;
        outline: none;
        border-radius: 8px;
      }
  
      #inputfield {
        margin-bottom: 2rem;
        width: 24vw; 
        height: 5.4vh;
        font-weight: 500;
        background-color: #2d2d35;
        border-radius: 8px; 
        outline: none;
        color: white;  
        padding: 0px 1rem;
      }
  
      .forms {
        position: relative;
        height: 25vh;
  
        .button {
          position: absolute;
          bottom: 1rem;
          right: 0;
          width: 3.4rem;
          background-color: red;
          border-radius: 20px;
          padding: .3rem;
          color: white;
          margin-top: 2rem;
        }
      }
  
      
    }
  }
  