.Gettingstarted {
    margin: 1.2rem 0px 0px 1rem;
    padding-left: 1rem;
  
    .heading {
      font-weight: 600;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  
    .info {
      line-height: 2rem;
      font-size: 1.3rem;
      margin-bottom: 1.25rem;
      color: grey;
    }
  
    .overview_head {
      font-size: 1.3rem;
      margin-bottom: 0.3rem;
      font-weight: 500;
    }
  
    .overview {
      font-size: 1.1rem;
    }
  }
  