$grey: #e5e5e5;
$blue: #000000;

@keyframes loading {
  25% {
    fill: $grey;
  }
  
  50% {
    fill: $blue;
  }
  
  75% {
    fill: $grey;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: #f3f3f3;
}

.logo {
  width: 180px;
  fill: $grey;
}

.logo__mark > path {
  animation: loading 1.25s ease-in-out infinite reverse;
}

@for $i from 1 through 9 {
  .logo__mark > path:nth-child(#{$i}) {
    animation-delay: -(0.1 * -$i)+s;
  }
}
