.main{
    background-color: #f3ebeb;
    width: 100vw;
    height: 100vh;

    .logo{
        align-items: center;
        // display: flex;
        // justify-content: center;
        justify-items: center;
        flex-direction: row;
    }
}
